<div class="col-md-9 max_height" style="background-color: #ebeced; margin-top:0px;">
    <div class="col-md-12" style="margin-top:5px; height:35px;">
        <!--Options Menu-->
        <div class="col-md-12 element_options">
            <div *ngIf="showImageOptions" class="col-md-8" [@slideInOut]>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter <span class="icon-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <span><button class="btn btn-default" (click)="fontPropertyChanged('filter', 'normal')">Normal</button></span>
                        </li>
                        
                        <li><span>Brightness</span><br />
                            <span><input type="range" [(ngModel)]="brightness" class="slider" min="0" max="100" step="1" value="50" (change)="fontPropertyChanged('brightness', $event)" />&nbsp; {{brightness}}</span>
                        </li>
                        <li><span>Contrast</span><br />
                            <span><input type="range" [(ngModel)]="contrast" class="slider" min="0" max="100" step="1" value="50" (change)="fontPropertyChanged('contrast', $event)" />&nbsp; {{contrast}}</span>
                        </li>
                        <li><span>Saturation</span><br />
                            <span><input type="range" [(ngModel)]="saturation" class="slider" min="0" max="10" step="1" value="0" (change)="fontPropertyChanged('saturate', $event)" />&nbsp; {{saturation}}</span>
                        </li>
                        <!--<li><span>Tint</span><br />
                            <span><input type="range" [(ngModel)]="tint" class="slider" min="0" max="100" step="1" value="50" (change)="fontPropertyChanged('tint', $event)" />&nbsp; {{tint}}</span>
                        </li>-->
                        <li><span>Blur</span><br />
                            <span><input type="range" [(ngModel)]="blur" class="slider" min="0" max="5" step="1" value="0" (change)="fontPropertyChanged('blur', $event)" />&nbsp; {{blur}}</span>
                        </li>
                        <!--<li><span>X-Process</span><br />
                            <span><input type="range" [(ngModel)]="x_process" class="slider" min="0" max="100" step="1" value="50" (change)="fontPropertyChanged('x_process', $event)" />&nbsp; {{x_process}}</span>
                        </li>
                        <li><span>Vignette</span><br />
                            <span><input type="range" [(ngModel)]="vignette" class="slider" min="0" max="100" step="1" value="50" (change)="fontPropertyChanged('vignette', $event)" />&nbsp; {{vignette}}</span>
                        </li>-->
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Flip <span class="icon-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" (click)="fontPropertyChanged('rotateY', rotateY)"><i class="icon-fixed-width icon-flip-horizontal"></i> Flip Horizontally</a></li>
                        <li><a href="javascript:void(0);" (click)="fontPropertyChanged('rotateX', rotateX)"><i class="icon-fixed-width icon-flip-vertical"></i> Flip Vertically</a></li>
                    </ul>
                </div>
            </div>
            
            <div *ngIf="showTextOptions" class="col-md-8" [@slideInOut]>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <select class="form-control" [(ngModel)]="fontFamily" (change)="fontPropertyChanged('font-family', $event)">
                            <option *ngFor="let fontFamily of fontFamilyList" value="{{fontFamily.value}}"><span [ngStyle]="{'font-family':fontFamily.value}">{{fontFamily.label}}</span></option>
                        </select>
                    </div>
                    <div class="btn-group">
                        <select class="form-control" [(ngModel)]="fontSize" (change)="fontPropertyChanged('font-size', $event)">
                            <option *ngFor="let fontSize of fontSizeList" value="{{fontSize.value}}">{{fontSize.label}}</option>
                        </select>
                    </div>
                    <div class="btn-group">
                        <button class="btn" data-original-title="Normal" (click)="fontPropertyChanged('font-style', 'normal')">Normal</button>
                        <button class="btn" data-original-title="Bold" (click)="fontPropertyChanged('font-weight', 'bold')"><i class="icon-bold"></i></button>
                        <button class="btn" data-original-title="Italic" (click)="fontPropertyChanged('font-style', 'italic')"><i class="icon-italic"></i></button>
                    </div>
                    <div class="btn-group">
                        <button class="btn" data-original-title="Align Left" (click)="fontPropertyChanged('text-align', 'left')"><i class="icon-align-left"></i></button>
                        <button class="btn" data-original-title="Align Center" (click)="fontPropertyChanged('text-align', 'center')"><i class="icon-align-center"></i></button>
                        <button class="btn" data-original-title="Align Right" (click)="fontPropertyChanged('text-align', 'right')"><i class="icon-align-right"></i></button>
                        <!--<button class="btn" data-original-title="Align Justify" (click)="fontPropertyChanged('text-align', 'justify')"><i class="icon-align-justify"></i></button>-->
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Change Case <span class="icon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" (click)="fontPropertyChanged('text-transform', 'none')"><i class="icon-fixed-width"></i> Normal</a></li>
                            <li><a href="javascript:void(0);" (click)="fontPropertyChanged('text-transform', 'uppercase')"><i class="icon-fixed-width icon-arrow-up"></i> UPPERCASE</a></li>
                            <li><a href="javascript:void(0);" (click)="fontPropertyChanged('text-transform', 'lowercase')"><i class="icon-fixed-width icon-arrow-down"></i> lowercase</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Spacing <span class="icon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <span>Letter spacing</span>
                                <br />
                                <span><input type="range" [(ngModel)]="letterSpacing" class="slider" min="-200" max="800" step="10" value="0" (change)="fontPropertyChanged('letter-spacing', $event)" />&nbsp; {{letterSpacing}}</span>
                            </li>
                            <li>
                                <span>Line height</span>
                                <br />
                                <span><input type="range" [(ngModel)]="lineHeight" class="slider" min="0.5" max="2.5" step="0.1" value="1.4" (change)="fontPropertyChanged('line-height', $event)" />&nbsp; {{lineHeight}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="btn-group" class="col-md-4" *ngIf="showOptions">
                <button class="btn btn-default" data-original-title="Copy" (click)="cloneElement()"><i class="icon-copy"></i> Copy</button>

                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Transparency <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <span><input type="range" [(ngModel)]="opacity" class="slider" min="0" max="1" step="0.1" value="1" (change)="fontPropertyChanged('opacity', $event)" />&nbsp; {{opacity}}</span>
                    </li>
                </ul>

                <button class="btn btn-default" data-original-title="Delete" (click)="deleteElement()"><i class="icon-trash"></i> Delete</button>
            </div>
        </div>
    </div>

    <div class="col-md-12 max_height">
        <div class="col-md-1 text-center full_height">
            <!--Empty space-->
            <div class="text-center black">Total Pages: {{design.last_page_no}}</div>
            <div class="text-center black">Cur. Page: {{getCurrentPage()}}</div>
        </div>
        <div class="col-md-10 full_height">
            <div class="col-md-12 max_height">
                <div class="col-md-12 full_height" #single_page_wrapper>
                    <!--<div *ngFor="let page of design.pages; let pageIndex = index" class="single_page_wrapper" in-viewport [inViewportOptions]="{rootElement:single_page_wrapper, partial:false}"
                        (inViewportAction)="pageFocused(page.page_no)" [ngStyle]="{'height': page_wrapper_size.height+'px'}">-->
                    <div *ngFor="let page of design.pages; let pageIndex = index" class="single_page_wrapper" (click)="pageFocused(page.page_no)" [ngStyle]="{'height': page_wrapper_size.height+'px'}">
                        <div class="col-md-11 max_height single_page" id="single_page_{{pageIndex}}" [ngStyle]="{'width': page_size.width+'px', 'height': page_size.height+'px'}">
                            <div *ngIf="show1==true">
                                    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>
                                    <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                                </div>
                            <div *ngFor="let element of page.elements">
                                <div [p3x-compile]="displayElement(element)" [p3x-compile-ctx]="this"></div>
                            </div>
                        </div>
                        <div class="col-md-1 max_height single_page_options text-center">
                            <p class="page_no">{{page.page_no}}</p>
                            <br />
                            <br />
                            <a class="mdl-button mdl-js-button mdl-button--raised clone_page_btn" (click)="clonePage(page, false)">Copy</a>
                            <a *ngIf="showDeletePageBtn" class="mdl-button mdl-js-button mdl-button--raised" (click)="deletePage(pageIndex)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="createEmptyPage()">+ Add a new page</button>
            </div>
        </div>
        <div class="col-md-1 text-center full_height">
            <!--Empty space-->
        </div>
    </div>
</div>