<div class="col-md-9 max_height" style="background-color: #ebeced; margin-top:0px;">
    <div class="col-md-12">
        <!--Options Menu-->
    </div>

    <div class="col-md-12 max_height">
        <div class="col-md-1 text-center full_height">
            <!--Empty space-->
            <div class="text-center black">Total Pages: {{design.last_page_no}}</div>
        </div>
        <div class="col-md-10 full_height">
            <div class="col-md-12 max_height">
                <div class="col-md-12 full_height">
                    <div *ngFor="let page of design.pages" class="single_page_wrapper full_height">
                        <div class="col-md-11 max_height single_page">
                            <div *ngFor="let element of page.elements" class="">
                                <div class="checkFocus" [p3x-compile]="displayElement(element)" [p3x-compile-ctx]="this"></div>
                            </div>
                        </div>
                        <div class="col-md-1 max_height single_page_options text-center">
                            <p class="page_no">{{page.page_no}}</p>
                            <br />
                            <br />
                            <a class="mdl-button mdl-js-button mdl-button--raised clone_page_btn" (click)="clonePage(page, false)">Copy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="createEmptyPage()">+ Add a new page</button>
            </div>
        </div>
        <div class="col-md-1 text-center full_height">
            <!--Empty space-->
        </div>
    </div>
</div>