.page_no,
.clone_page_btn {
    color: #000000 !important;
}
.single_page {
    background-color: #ffffff;
    color: #000000 !important;
    margin-bottom: 10px;
}
.element_options,
.btn-toolbar,
.btn-toolbar .btn-group,
.btn-toolbar .btn-group, button,
.btn-toolbar .btn-group, select {
    height: 100% !important;
}