<style>
    div {
        border: 1px dotted black;
    }
    .full_height {
        height: 100%;
    }
    .max_height {
        margin-top: 20px;
        height: 90%;
    }
</style>
    
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <div class="container-fluid">
        <div class="row" style="height:900px;">
            <div class="col-md-12" style="height:50px;">
                Long Horizontal Header
            </div>
            
            <div class="col-md-12 full_height">
                <div class="col-md-1 max_height">
                    <ul class="nav nav-pills nav-stacked">
                        <li>Search</li>
                        <li>Layouts</li>
                        <li>Elements</li>
                        <li>Text</li>
                        <li>Background</li>
                        <li>Uploads</li>
                    </ul>
                </div>
                <div class="col-md-2 max_height">
                    <div class="col-md-12">
                        Sub Modules
                    </div>
                </div>
                <div class="col-md-9 max_height">
                    <div class="col-md-12">
                        Options Menu - 
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Color Picker</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Filter</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Crop</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Flip</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Spacing</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Copy</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Arrange</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Transparency</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Link</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete</button>
                    </div>
                    
                    <div class="col-md-12 max_height">
                        <div class="col-md-1">
                            Empty space
                        </div>
                        <div class="col-md-10 full_height">
                            <div class="col-md-12 max_height">
                                <div class="col-md-11 full_height">
                                    <div class="single_page" data-page_no="1">
                                        First Page -
                                        <div class="file-upload">
                                            <span class="text">upload</span>
                                            <input id="custom-input" type="file" (change)="fileChangeListener($event)">
                                        </div>
                                        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                                        <br>
                                        <span class="result rounded" *ngIf="data.image" >
                                            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1 full_height text-center">
                                    1

                                    <br />
                                    <br />
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Copy</button>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">+ Add a new page</button>
                            </div>
                        </div>
                        <div class="col-md-1 full_height">
                            Empty space
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->