<style>
    div {
        border: 1px dotted black;
    }
    .single_page {
        background-color: azure;
        margin-bottom: 10px;
    }
</style>
    
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <div class="container-fluid">
        <div class="row" style="height:900px;">
            <div class="col-md-12" style="height:50px;">
                Long Horizontal Header
            </div>
            
            <div class="col-md-12 full_height">
                <div class="col-md-1 max_height">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a class="pointer" (click)="loadList('search')">Search</a></li>
                        <li><a class="pointer" (click)="loadList('layouts')">Layouts</a></li>
                        <li><a class="pointer" (click)="loadList('elements')">Elements</a></li>
                        <li><a class="pointer" (click)="loadList('text')">Text</a></li>
                        <li><a class="pointer" (click)="loadList('background')">Background</a></li>
                        <li><a class="pointer" (click)="loadList('uploads')">Uploads</a></li>
                    </ul>
                </div>
                <div class="col-md-2 max_height">
                    <div class="col-md-12">
                        <div *ngIf="showLayoutList" class="">
                            Layout List
                        </div>
                        <div *ngIf="showTextList" class="">
                            <div *ngFor="let text of textList" class="text-center pointer" (click)="insertText(text)">
                                <span [ngStyle]="formatTextStyle(text)">{{text.text}}</span>
                            </div>
                        </div>
                        <div *ngIf="showElementList" class="">
                            Element List
                        </div>
                        <div *ngIf="showBackgroundList" class="">
                            Background List
                        </div>
                        <div *ngIf="showUploadList" class="">
                            Upload your own image
                        </div>
                    </div>
                </div>
                <div class="col-md-9 max_height">
                    <div class="col-md-12">
                        Options Menu
                    </div>
                    
                    <div class="col-md-12 max_height">
                        <div class="col-md-1">
                            Empty space
                        </div>
                        <div class="col-md-10 full_height">
                            <div class="col-md-12 max_height">
                                <div class="col-md-12 full_height" id="design_wrapper" #design_wrapper>
                                    <div class="single_page_wrapper full_height" data-page_no="1">
                                        <div class="col-md-11 max_height single_page"></div>
                                        <div class="col-md-1 max_height single_page_options text-center">
                                            <p class="page_no">1</p>
                                            <br />
                                            <br />
                                            <a class="mdl-button mdl-js-button mdl-button--raised copy_btn" data-page_no="1">Copy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">+ Add a new page</button>
                            </div>
                        </div>
                        <div class="col-md-1 full_height">
                            Empty space
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->