/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
    box-sizing: border-box;
}
.row-no-padding,
.row-no-padding [class*="col"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.full_height {
    height: 100%;
    overflow: auto;
}
.max_height {
    height: 90%;
    /*overflow: auto;*/
    margin-top: 15px;
}
.pointer {
    cursor: pointer;
}
.display_element_wrapper {
    margin-top: 10px;
    height: 50px;
}
.display_element {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.single_element {
    position: absolute;
}
.focused_element,
.display_element:hover,
.single_element:hover {
    outline: 1px dashed rgba(0,0,0,.5);
}
.single_element:hover {
    cursor: move;
}
.display_element:hover {
    cursor: pointer;
}
.single_page {
    margin: auto;
}

    